{"openapi":"3.0.0","info":{"title":"B3 Profiles API","description":"Unified Web3 identity aggregation service that enhances wallet authentication with social identity data from ENS, Lens, and Farcaster. The B3 Profiles service aggregates profile data from multiple Web3 sources including Basement, ENS, Thirdweb Social, Global Accounts, and other identity providers, providing a single API endpoint for comprehensive user information.\n\n## Features\n\n- **Multi-source Profile Aggregation**: Combines data from Basement, ENS, Thirdweb, Global Accounts, and other Web3 identity providers\n- **Social Identity Integration**: Fetches social profiles from ENS, Lens Protocol, and Farcaster networks  \n- **Intelligent Caching**: Uses Cloudflare KV storage for efficient data caching with TTL\n- **Profile Preferences**: Allows users to set preferred profile sources via cryptographic signatures\n- **Flexible Lookup**: Supports lookup by wallet address or username/domain name\n- **Real-time Verification**: Includes signature verification for preference setting\n- **Global Account Fallback**: Automatically looks up B3 global accounts and aggregates profiles from linked wallet addresses when no other profiles are found\n\n## Data Sources\n\nThe service aggregates data from:\n\n- **Basement Profiles**: B3 ecosystem usernames and gaming profiles\n- **ENS Data**: Ethereum Name Service domains, avatars, and metadata\n- **Thirdweb Social**: Multi-platform social profiles (Farcaster, Lens, etc.)\n- **B3 ENS Gateway**: B3-specific ENS resolution\n- **Global Accounts**: B3 smart contract wallets linked to social logins and EOA wallets, with automatic discovery and aggregation of linked wallet profiles (fallback when no other profiles found)\n\n## Security\n\n- Cryptographic signature verification for all preference settings\n- EIP-191 message verification using viem library\n- Timestamp validation to prevent replay attacks\n- Address normalization for consistent storage\n\nSee more documentation at [https://docs.b3.fun/data/profiles](https://docs.b3.fun/data/profiles)","version":"1.0.0","contact":{"url":"https://docs.b3.fun/data/profiles"}},"servers":[{"url":"https://profiles.b3.fun","description":"Production server"}],"tags":[{"name":"Lookup","description":"Profile lookup and identity aggregation"},{"name":"Preferences","description":"User profile preferences and settings"}],"paths":{"/":{"get":{"summary":"Profile Lookup","description":"Retrieves aggregated profile information for a given address or name. Combines data from multiple Web3 identity sources including ENS, Lens, Farcaster, and Basement profiles.","tags":["Lookup"],"parameters":[{"name":"address","in":"query","required":false,"schema":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$"},"description":"Ethereum wallet address to lookup (e.g., 0x1234567890abcdef1234567890abcdef12345678)"},{"name":"name","in":"query","required":false,"schema":{"type":"string"},"description":"Username or ENS name to lookup (e.g., vitalik.eth, username.b3.fun)"},{"name":"fresh","in":"query","required":false,"schema":{"type":"boolean","default":false},"description":"Skip cache and fetch fresh data"},{"name":"b3GlobalId","in":"query","required":false,"schema":{"type":"string"},"description":"B3 Global ID to lookup (e.g., c0fd88a3-0589-41d5-8834-d6ae782f675e)"}],"responses":{"200":{"description":"Successful profile lookup","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CombinedProfile"}}}},"400":{"description":"Bad Request - Missing required parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"missing-params":{"summary":"Missing address or name parameter","value":{"error":"Missing ?address or ?name"}},"invalid-address":{"summary":"Invalid Ethereum address format","value":{"error":"Invalid address format"}}}}}},"404":{"description":"Profile not found"}}}},"/preference":{"post":{"summary":"Set Profile Preference","description":"Allows users to set their preferred profile source through cryptographic signature verification. The signature must be valid and the timestamp must be within 10 minutes of the current time.","tags":["Preferences"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreferenceRequest"}}}},"responses":{"200":{"description":"Preference set successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"description":"Bad Request - Invalid signature, timestamp, or authorization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"invalid-signature":{"summary":"Invalid cryptographic signature","value":{"error":"Invalid signature"}},"timestamp-old":{"summary":"Timestamp too old for replay protection","value":{"error":"Timestamp too old"}},"signer-mismatch":{"summary":"Signer does not match the key","value":{"error":"Signer doesn't match key"}}}}}}}}},"/display-name":{"post":{"summary":"Set Custom Display Name","description":"Allows users to set a custom display name that takes priority over display names from all profile sources through cryptographic signature verification.","tags":["Preferences"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisplayNameRequest"}}}},"responses":{"200":{"description":"Display name set successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"description":"Bad Request - Invalid signature, timestamp, or authorization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"invalid-signature":{"summary":"Invalid cryptographic signature","value":{"error":"Invalid signature"}},"timestamp-old":{"summary":"Timestamp too old for replay protection","value":{"error":"Timestamp too old"}},"signer-mismatch":{"summary":"Signer does not match the key","value":{"error":"Signer doesn't match key"}}}}}}}}}},"components":{"schemas":{"CombinedProfile":{"type":"object","description":"Aggregated profile data from multiple Web3 identity sources","properties":{"name":{"type":"string","nullable":true,"description":"Primary name or username (ENS name, Basement username, etc.)"},"address":{"type":"string","nullable":true,"description":"Normalized Ethereum wallet address"},"avatar":{"type":"string","nullable":true,"description":"Profile avatar URL from preferred source"},"bio":{"type":"string","nullable":true,"description":"Profile bio/description from preferred source"},"displayName":{"type":"string","nullable":true,"description":"Display name from preferred source or custom user setting. Falls back to 'name' if not set."},"profiles":{"type":"array","description":"Array of all profile data from different sources","items":{"$ref":"#/components/schemas/Profile"}}}},"Profile":{"type":"object","description":"Profile data from a specific source","properties":{"type":{"type":"string","description":"Profile source type","enum":["ensdata","basement","b3-ens","thirdweb-farcaster","thirdweb-lens","global-account"]},"address":{"type":"string","nullable":true,"description":"Wallet address associated with this profile"},"name":{"type":"string","nullable":true,"description":"Name or username from this source"},"avatar":{"type":"string","nullable":true,"description":"Avatar URL from this source"},"bio":{"type":"string","nullable":true,"description":"Bio/description from this source"},"displayName":{"type":"string","nullable":true,"description":"Display name from this source"},"userId":{"type":"string","nullable":true,"description":"B3 Global Account user ID (only present for global-account profile type)"}},"required":["type"]},"PreferenceRequest":{"type":"object","description":"Request to set profile source preference","required":["key","preferredType","signature","signer","timestamp"],"properties":{"key":{"type":"string","description":"Ethereum wallet address (will be normalized to lowercase)"},"preferredType":{"type":"string","description":"Preferred profile source type","enum":["ensdata","basement","b3-ens","thirdweb-farcaster","thirdweb-lens","global-account"]},"signature":{"type":"string","description":"EIP-191 signature of the preference message"},"signer":{"type":"string","description":"Address that signed the message (must match key)"},"timestamp":{"type":"integer","format":"int64","description":"Unix timestamp in seconds (must be within 10 minutes of current time)"}}},"DisplayNameRequest":{"type":"object","description":"Request to set custom display name","required":["key","displayName","signature","signer","timestamp"],"properties":{"key":{"type":"string","description":"Ethereum wallet address (will be normalized to lowercase)"},"displayName":{"type":"string","description":"Custom display name to set"},"signature":{"type":"string","description":"EIP-191 signature of the display name message"},"signer":{"type":"string","description":"Address that signed the message (must match key)"},"timestamp":{"type":"integer","format":"int64","description":"Unix timestamp in seconds (must be within 10 minutes of current time)"}}},"SuccessResponse":{"type":"object","properties":{"success":{"type":"boolean","example":true}}},"ErrorResponse":{"type":"object","properties":{"error":{"type":"string","description":"Error message describing what went wrong"}},"required":["error"]}}}}